@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
.main {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/edaa0b57088529.59c8bd95b5edc.gif"); 
    

  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   
   
  }
  
  .container div {
    flex: 1;
    margin: 30px;
    color: #000000;
    border-radius: 10px;
    box-shadow: -1px -7px 33px -3px rgba(0, 0, 0, 9.0);
    
  }

  .container h4 {
    font-size: 1.8em;
       color: #02fb02;
    text-transform: capitalize;
    box-shadow: -9px -7px 33px -3px rgba(0, 0, 0, .5);
  }
  .img {
    margin-top: 10px;
    border-radius: 20px;
  }
  .h1 { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway', cursive;
    font-weight: 100;
    position: relative;
    background: linear-gradient(to right, black, #eee, black);
  }
  .h1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 600px;
    background: radial-gradient(50% 50%, ellipse closest-side, #444, #009600);
    z-index: -1;
  }
  .h1 a {
    background: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 30px;
    color: white;
  }